# Environment variables 
.env
.env.*
!.env.example

# Firebase
.firebase/
firebase-config.js
firebase-debug.log
firestore-debug.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
public/env.js  # если используете инжект переменных

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log

# Кэш
.cache/
.parcel-cache/